/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  font-size: 14px;
  background: #39303c;
  direction: ltr;
}
#footer .footer-top {
  padding: 25px 0px 0px 0px;
  background: #39303c;
  box-shadow: 0px 2px 15px rgb(57 48 60 / 50%);
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
}
#footer .footer-top .footer-contact h3 {
  font-size: 25px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 800;
  font-family: cursive;
  position: relative;
}
#footer .footer-top .footer-contact h3::after {
  content: "";
  position: absolute;
  background-color: #1a8c1a;
  height: 3px;
  width: 20%;
  bottom: -6px;
  left: 0%;
  transition: all 0.3s ease-in-out;
}
#footer .footer-top .footer-contact:hover h3::after {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
#footer .footer-top .footer-contact h3::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #fff;
  bottom: -5px;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: math;
  color: #cfcfcf;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  position: relative;
  padding-bottom: 5px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul li {
  padding: 8px 0;
  display: flex;
  align-items: center;
  position: relative;
}
/* #footer .footer-top .footer-links ul li::before {
  content: "";
  position: absolute;
  background-color: #3fb75a;
  height: 1px;
  width: 0%;
  bottom: 5px;
  left: 0;
}
#footer .footer-top .footer-links ul li:hover:before {
  width: 90%;
  transition: all 0.3s ease-in-out;
} */
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #3fb75a;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul a {
  color: #c2c2c2;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  width: 100%;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #6bff8d;
  padding-left: 10px;
}
#footer .footer-newsletter {
  font-size: 15px;
}
#footer .footer-newsletter h4 {
  font-size: 42px;
  font-family: "Delicious Handrawn";
  font-weight: 600;
  text-align: center;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 5px 10px;
  position: relative;
  border-radius: 0.4rem;
  text-align: left;
  border: 1px solid #1a8c1a;
}
#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 17px;
  padding: 0 10px;
  background: #1a8c1a;
  color: #fff;
  transition: all 0.3s ease-in-out;
  border: 0;
  border-radius: 0.3rem;
}
#footer .footer-newsletter form input[type="submit"]:hover {
  background: #008000;
}
#footer .footer-bottom::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #8b90ff;
  width: 70%;
  left: 14%;
  top: 0;
}
#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #939393;
}
#footer .credits a {
  color: #8bc8ff;
  font-weight: 800;
  letter-spacing: 2px;
  word-spacing: 2px;
  position: relative;
  font-family: cursive;
}
#footer .credits a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: #1977cc;
  bottom: -1px;
  left: 0;
  transition: all 0.3s ease-in-out;
}
#footer .credits a:hover::after {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
#footer .credits a:hover {
  color: #1977cc;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #1a8c1a;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .social-links a:hover {
  background: #008000;
  color: #fff;
  text-decoration: none;
}
