/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: rgb(240 248 255 / 85%);
  transition: all 0.3s ease-in-out;
  z-index: 997;
  padding: 8px 0;
  box-shadow: 0px 2px 15px rgb(25 119 204 / 10%);
  /* top:40px */
}
#header.header-scrolled {
  top: 0;
}
#header .logo {
  margin: 0;
  padding: 0;
}
#header .logo img {
  max-height: 60px;
}

/**
* Appointment Button *
*/
.appointment-btn {
  background: #bff190;
  color: #1a8c1a;
  border-radius: 2rem;
  padding: 8px 25px;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  display: inline-block;
  font-weight: 700;
}
.appointment-btn:hover {
  background: #1a8c1a;
  color: #fff;
}
@media (max-width: 768px) {
  .appointment-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 0px 0px 0px 15px;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
  padding: 0;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  transition: all 0.3s ease-in-out;
  color: #008000;
  border-color: #3e6b48;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #000;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: all 0.3s ease-in-out;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  width: 220px;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(28, 47, 65, 0.9);
  transition: all 0.3s ease-in-out;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
}
.navbar-mobile > ul > li {
  padding: 0;
  margin-bottom: 15px;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #cd946a;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  padding: 3px 5px;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #ff6063;
  border-color: #9a2b2e;
  transition: all 0.3s ease-in-out;
}
