/*--------------------------------------------------------------#
# Services
--------------------------------------------------------------*/
.services {
  background-color: #f3f3f3;
  position: relative;
  overflow: hidden;
}
/* ==================================== */

/* How to Start? */
.services .section-title {
  border-top: 8px solid #fff;
  border-bottom: 8px solid #fff;
  margin-bottom: 0;
}
.how-to-start .section-title-content {
  background-color: #e8e849;
  border-right: 8px solid #fff;
}
.how-to-start .section-title-content h4 {
  font-family: "Coming Soon", cursive;
  font-family: "Delicious Handrawn", cursive;
  text-align: center;
  font-size: 7rem;
  font-weight: 600;
  color: #333;
  direction: ltr;
}
@media (max-width: 925px) {
  .how-to-start .section-title-content h4 {
    font-size: 5rem;
    margin-top: 0 !important;
  }
}
@media (max-width: 400px) {
  .how-to-start .section-title-content h4 {
    font-size: 3rem;
    margin-top: 0 !important;
  }
}
@media (max-width: 767px) {
  .how-to-start .section-title-content {
    border-right: none;
    padding: 1rem 2rem !important;
  }
}
/* =============================================== */

/* services.html */
.head-content-services {
  background-image: url(../img/services.jpg);
  width: 100%;
  height: 70vh;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.services .services-head h4 {
  margin-top: 25px;
  margin-bottom: 0px;
  font-size: 2rem;
  font-weight: 400;
  font-family: math;
  color: #333;
  text-align: center;
}
.services .services-head h2 {
  font-size: 6rem;
  font-family: "Coming Soon", cursive;
  font-family: "Delicious Handrawn", cursive;
  color: #2d3185;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0;
}
.services .box {
  border: 1px solid #d8d8d6;
  border-radius: 0.37rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.services .box h4 {
  padding: 1rem;
  color: #310757;
  padding-bottom: 0;
}
.services .box p {
  padding: 0.7rem;
  margin-bottom: 0;
  background-color: #f1e3ff;
  flex: 1;
}
.services .never-go-hungry .right,
.services .move-more .right,
.services .get-support .right {
  background-color: #ce2a60;
  color: #fff;
  text-align: end;
  padding: 4rem;
}
.services .never-go-hungry .right h2,
.services .move-more .right h2,
.services .get-support .right h2 {
  font-size: 3.5rem;
  font-family: "Coming Soon", cursive;
  font-family: "Delicious Handrawn", cursive;
  line-height: 0.8;
  font-feature-settings: "kern" 1;
  width: 100%;
  margin-bottom: 1.5rem;
}
.services .move-more .right {
  background-color: #f3f3f3;
  color: #333;
}
.services .get-support .right {
  background-color: #2c98c8;
}
.row.move-more {
  border: 5px solid #fff;
  border-right: none;
  border-left: none;
}
/* ======================================== */

/* Gallery */
.serv-program {
  background-image: url(../img/why-us.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 0.4rem;
}
.serv-program-details {
  background-color: rgb(0 0 0 / 50%);
  border-radius: 0.35rem;
  padding: 10px 20px;
}
.serv-program-details h3 {
  direction: ltr;
  font-weight: 800;
  color: #00c603;
}
.serv-program-details p {
  color: #fff;
}
@media (max-width: 450px) {
  .services .appointment-btn {
    font-size: 16px !important;
  }
}
/* =========================================================== */

/* Stories */
.services .stories {
  background-color: #fff;
  padding-top: 10px;
}
.services .stories h4,
.gallery h4 {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
  font-family: math;
  color: #333;
  text-align: center;
}
.services .stories h2 {
  font-size: 6rem;
  font-family: "Coming Soon", cursive;
  font-family: "Delicious Handrawn", cursive;
  color: #d3072a;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0;
}
.services .stories .stories-description {
  color: #332125;
  margin: 0 1.5rem 2.5rem;
  font-size: 14px;
  font-weight: 500;
}
.services .gallery-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr;
  background-color: #e5e9ff;
}
.services .gallery-btn a {
  font-family: "Coming Soon", cursive;
  font-family: "Delicious Handrawn", cursive;
  font-size: 25px !important;
  font-weight: 600 !important;
  letter-spacing: 3px;
}
.services .stories .programs {
  font-size: 3rem;
  font-family: "Coming Soon", cursive;
  font-family: "Delicious Handrawn", cursive;
  color: #2d3185;
  text-align: center;
  direction: ltr;
}
/* ============================================================ */

/* Offers */
.services .offers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services .offers .offer-one {
  background-image: url(../img/bg.webp);
  background-size: cover;
  position: relative;
  border: 5px solid #fff;
  border-radius: 0.35rem;
}
.services .offers .offer-one::before {
  content: "Special Offer";
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: rgb(211 7 42);
  color: #fff;
  padding: 4px 10px 10px 14px;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3px;
}
.services .offers .offer-one,
.services .offers .offer-two {
  background-color: rgb(237 243 248);
  border-radius: 0.35rem;
  padding: 10px 20px;
  text-align: center;
}
.services .offers .offer-one h3,
.services .offers .offer-two h3 {
  direction: ltr;
  color: #1a8c1a;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "tiempos-headline", serif;
  line-height: 1.6;
  margin: 0;
  margin-top: 30px;
}
.services .offers .offer-two h3 {
  margin: 0;
}
.services .offers .offer-one h2,
.services .offers .offer-two h2 {
  font-size: 4rem;
  line-height: 3.3125rem;
  font-family: "Coming Soon", cursive;
  font-family: "Delicious Handrawn", cursive;
  color: #2d3185;
}
.services .offers .offer-two h2 {
  color: #f9a700;
}
.services .offers .offer-one p,
.services .offers .offer-two p {
  color: #333;
}
@media (max-width: 992px) {
  .logo-btn {
    flex-direction: column;
  }
}

/*--------------------------------------------------------------
# Services Departments
--------------------------------------------------------------*/
.services .nav-tabs {
  border: 0;
  background-color: rgb(217 247 188);
  padding-right: 15px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.services .nav-link {
  border: 0;
  padding: 10px 10px 10px 0;
  transition: all 0.3s ease-in-out;
  color: #000;
  border-radius: 0;
  border-right: 2px solid #fff;
  font-weight: 800;
}
.services .nav-link:hover {
  color: #fff;
  border-right: 2px solid #000;
  transition: all 0.3s ease-in-out;
  padding-right: 20px;
  background: #1a8c1a;
}
.services .nav-link.active {
  color: #bff190;
  border-color: #000;
  background: #1a8c1a;
}
.services .details h3 {
  position: relative;
  font-size: 26px;
  font-weight: 600;
  margin: 0px 20px 20px 20px;
  color: #1a8c1a;
  width: fit-content;
}
.services .details h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #ddd;
  bottom: -10px;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.services .details h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  background: #1a8c1a;
  bottom: -11px;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.services .details:hover h3::after {
  width: 80%;
  transition: all 0.3s ease-in-out;
}
.services .details p {
  margin: 10px 20px 20px 20px;
  color: #000;
}
@media (max-width: 992px) {
  .services .nav-link {
    padding: 15px;
  }
}
