/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  background-color: #f3f3f3;
  position: relative;
  overflow: hidden;
}
.services .section-title {
  border-top: 8px solid #fff;
  border-bottom: 8px solid #fff;
  margin-bottom: 0;
}
.serv-program {
  background-image: url(../img/why-us.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 0.4rem;
}
.serv-program-details {
  background-color: rgb(0 0 0 / 50%);
  border-radius: 0.35rem;
  padding: 10px 20px;
}
.serv-program-details h3 {
  direction: ltr;
  font-weight: 800;
  color: #00c603;
}
.serv-program-details p {
  color: #fff;
}
.services .icon-box {
  padding: 25px 10px;
  transition: all 0.3s ease-in-out;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(26, 140, 26, 40%);
}
.services .icon-box .icon {
  margin: 0 auto;
  padding: 5px 10px;
  background: #516e36;
  border-radius: 0.2rem;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}
.services .icon-box .icon i {
  color: #baf7cb;
  font-size: 28px;
}
.services .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: #baf7cb;
  border-radius: 0.2rem;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
}
.services .icon-box h4 {
  font-weight: 800;
  margin-bottom: 15px;
  color: #ffffff;
}
.services .icon-box p {
  margin-bottom: 0;
  color: #c2c2c2;
}
.services .icon-box:hover {
  background: rgba(26, 140, 26, 0.7);
  border-color: #1a8c1a;
}
.services .icon-box:hover .icon {
  background: #baf7cb;
}
.services .icon-box:hover .icon i {
  color: #516e36;
}
.services .icon-box:hover .icon::before {
  background: #516e36;
}
.services .icon-box:hover h4 {
  color: #032e03;
}
.services .icon-box:hover p {
  color: #bff190;
}
/* =========================================================== */

/* Stories */
.services .stories {
  background-color: #fff;
  padding-top: 10px;
}
.services .stories h4,
.gallery h4 {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
  font-family: math;
  color: #333;
  text-align: center;
}
.services .stories h2,
.gallery h2 {
  font-size: 6rem;
  font-family: "Coming Soon", cursive;
  font-family: "Delicious Handrawn", cursive;
  color: #d3072a;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0;
}
.services .gallery-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: ltr;
  background-color: #e5e9ff;
}
.services .gallery-btn a {
  font-family: cursive;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 3px;
}
/* ============================================================ */

/* Offers */
.services .offers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services .offers .offer-one {
  background-image: url(../img/bg.webp);
  background-size: cover;
  position: relative;
}
.services .offers .offer-one::before {
  content: "Special Offer";
  position: absolute;
  right: 0;
  top: 0px;
  background-color: rgb(211 7 42);
  color: #fff;
  border-radius: 0.35rem;
  padding: 4px 10px 10px 14px;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3px;
  border-top: 0;
  border-right: 0;
}
.services .offers .offer-one,
.services .offers .offer-two {
  background-color: rgb(237 243 248);
  border-radius: 0.35rem;
  padding: 10px 20px;
  text-align: center;
}
.services .offers .offer-one h3,
.services .offers .offer-two h3 {
  direction: ltr;
  color: #1a8c1a;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "tiempos-headline", serif;
  line-height: 1.6;
  margin: 0;
  margin-top: 30px;
}
.services .offers .offer-two h3 {
  margin: 0;
}
.services .offers .offer-one h2,
.services .offers .offer-two h2 {
  font-size: 4rem;
  line-height: 3.3125rem;
  font-family: "Coming Soon", cursive;
  font-family: "Delicious Handrawn", cursive;
  color: #2d3185;
}
.services .offers .offer-two h2 {
  color: #f9a700;
}
.services .offers .offer-one p,
.services .offers .offer-two p {
  color: #333;
}
@media (max-width: 400px) {
  .logo-btn {
    flex-direction: column;
  }
}

/*--------------------------------------------------------------
# Departments
--------------------------------------------------------------*/
.services .nav-tabs {
  border: 0;
  background-color: rgb(217 247 188);
  padding-right: 15px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.services .nav-link {
  border: 0;
  padding: 10px 10px 10px 0;
  transition: all 0.3s ease-in-out;
  color: #000;
  border-radius: 0;
  border-right: 2px solid #fff;
  font-weight: 800;
}
.services .nav-link:hover {
  color: #fff;
  border-right: 2px solid #000;
  transition: all 0.3s ease-in-out;
  padding-right: 20px;
  background: #1a8c1a;
}
.services .nav-link.active {
  color: #bff190;
  border-color: #000;
  background: #1a8c1a;
}
.services .details h3 {
  position: relative;
  font-size: 26px;
  font-weight: 600;
  margin: 0px 20px 20px 20px;
  color: #1a8c1a;
  width: fit-content;
}
.services .details h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #ddd;
  bottom: -10px;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.services .details h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  background: #1a8c1a;
  bottom: -11px;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.services .details:hover h3::after {
  width: 80%;
  transition: all 0.3s ease-in-out;
}
.services .details p {
  margin: 10px 20px 20px 20px;
  color: #000;
}
@media (max-width: 992px) {
  .services .nav-link {
    padding: 15px;
  }
}
