/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  background-image: url(../img/services.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}
.services .section-title {
  background-color: rgb(191 241 144 / 75%);
  padding: 15px 20px;
  border-radius: 0.3rem;
  margin-bottom: 50px;
}
.serv-program {
  margin-bottom: 120px;
  background-image: url(../img/why-us.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  border-radius: 0.4rem;
  transform: translateX(-6%);
}
.serv-program-details {
  position: absolute;
  bottom: -75px;
  left: 0px;
  background-color: #e4ffcd;
  border-radius: 0.35rem;
  padding: 10px 20px;
  width: 70%;
}
.serv-program-details h3 {
  direction: ltr;
  font-weight: 800;
  color: #1a8c1a;
}
.serv-program-details p {
  color: #000;
}
.services .icon-box {
  padding: 25px 10px;
  transition: all 0.3s ease-in-out;
  border-radius: 0.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(26, 140, 26, 40%);
}
.services .icon-box .icon {
  margin: 0 auto;
  padding: 5px 10px;
  background: #516e36;
  border-radius: 0.2rem;
  transition: all 0.3s ease-out 0s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transform-style: preserve-3d;
}
.services .icon-box .icon i {
  color: #baf7cb;
  font-size: 28px;
}
.services .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: #baf7cb;
  border-radius: 0.2rem;
  transition: all 0.3s ease-out 0s;
  transform: translateZ(-1px);
}
.services .icon-box h4 {
  font-weight: 800;
  margin-bottom: 15px;
  color: #ffffff;
}
.services .icon-box p {
  margin-bottom: 0;
  color: #c2c2c2;
}
.services .icon-box:hover {
  background: rgba(26, 140, 26, 0.7);
  border-color: #1a8c1a;
}
.services .icon-box:hover .icon {
  background: #baf7cb;
}
.services .icon-box:hover .icon i {
  color: #516e36;
}
.services .icon-box:hover .icon::before {
  background: #516e36;
}
.services .icon-box:hover h4 {
  color: #032e03;
}
.services .icon-box:hover p {
  color: #bff190;
}
/* ============================================================ */

/*--------------------------------------------------------------
# Departments
--------------------------------------------------------------*/
.services .nav-tabs {
  border: 0;
  background-color: rgb(234 234 234 / 17%);
  padding-right: 15px;
  padding-top: 0 !important;
}
.services .nav-link {
  border: 0;
  padding: 10px 10px 10px 0;
  transition: all 0.3s ease-in-out;
  color: #000;
  border-radius: 0;
  border-right: 2px solid #e4ffcd;
  font-weight: 800;
}
.services .nav-link:hover {
  color: #008000;
}
.services .nav-link.active {
  color: #bff190;
  border-color: #3e6b48;
  background: #1a8c1a;
}
.services .details h3 {
  position: relative;
  font-size: 26px;
  font-weight: 600;
  margin: 0px 20px 20px 20px;
  color: #1a8c1a;
  width: fit-content;
}
.services .details h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #ddd;
  bottom: -10px;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.services .details h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 30px;
  height: 3px;
  background: #1a8c1a;
  bottom: -11px;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.services .details:hover h3::after {
  width: 80%;
  transition: all 0.3s ease-in-out;
}
.services .details p {
  margin: 10px 20px 20px 20px;
  color: #000;
}
@media (max-width: 992px) {
  .services .nav-link {
    padding: 15px;
  }
}
