.head-content-what-eat {
  background-image: url(../img/what-eat.jpg);
  width: 100%;
  height: 70vh;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.what-eat .what-eat-head h4,
.about-food .about-food-head h4 {
  margin-top: 25px;
  margin-bottom: 0px;
  font-size: 2rem;
  font-weight: 400;
  font-family: math;
  color: #333;
  text-align: center;
}
.what-eat .what-eat-head h2,
.about-food .about-food-head h2 {
  font-size: 6rem;
  font-family: "Coming Soon", cursive;
  font-family: "Delicious Handrawn", cursive;
  color: #d3072a;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0;
}
.what-eat .section-title {
  background-color: transparent;
  padding: 15px 20px;
  border-radius: 0.3rem;
  margin-bottom: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.what-eat .section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 15px;
  position: relative;
  color: #105410;
  width: fit-content;
  font-family: "Coming Soon", cursive;
  font-family: "Delicious Handrawn", cursive;
}
.what-eat .section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background: #ffffff;
  bottom: 1px;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.what-eat .section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 30%;
  height: 3px;
  background: #1a8c1a;
  bottom: 0;
  left: 70%;
  transition: all 0.3s ease-in-out;
}
.what-eat .section-title:hover h2::after {
  width: 80%;
  transition: all 0.3s ease-in-out;
}
.what-eat .card-body {
  background-color: #d9f7bc;
}
.what-eat .card-body h5 {
  font-size: 22px;
  font-weight: 700;
  color: #177c17;
  position: relative;
  width: fit-content;
}
.what-eat .card-body h5:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  bottom: -4px;
  transition: all 0.3s ease-in-out;
}
.what-eat .card-body h5::after {
  content: "";
  position: absolute;
  width: 25%;
  height: 2px;
  background-color: #177c17;
  bottom: -4px;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.what-eat .card:hover .card-body h5::after {
  transition: all 0.3s ease-in-out;
  width: 80%;
}
.what-eat .card-body h6 {
  font-size: 13px;
  font-weight: 500;
  color: #4e4e4e;
}
.what-eat .card-body p {
  margin: 1rem 0;
  color: #000;
}
ul#recipes-filters {
  list-style: none;
  width: fit-content;
}
ul#recipes-filters li {
  margin: 0.4rem 0.8rem;
  background-color: #fff;
  cursor: pointer;
  color: #1a8c1a !important;
  border-radius: 2rem;
  padding: 8px 25px !important;
  white-space: nowrap !important;
  transition: all 0.3s ease-in-out !important;
  font-size: 16px !important;
  display: inline-block !important;
  font-weight: 700 !important;
  width: fit-content;
}
ul#recipes-filters li:hover,
ul#recipes-filters li.filter-active {
  background: #1a8c1a !important;
  color: #fff !important;
}
.recipe-video {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f3f3;
  border-top: 2px solid #1a8c1a;
}
.recipe-video a {
  border-left: 2px solid #1a8c1a;
  margin: 0px;
  background-color: #fff;
  cursor: pointer;
  color: #1a8c1a !important;
  border-bottom-right-radius: 0.375rem;
  padding: 5px 15px !important;
  white-space: nowrap !important;
  transition: all 0.3s ease-in-out !important;
  font-size: 16px !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 500 !important;
  width: fit-content;
}
.recipe-video a:hover {
  background: #1a8c1a !important;
  color: #fff !important;
}
.recipe-video .recipe-rank {
  margin: 0px;
  color: #333;
  padding: 5px 15px !important;
  white-space: nowrap !important;
  transition: all 0.3s ease-in-out !important;
  font-size: 14px !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500 !important;
  width: fit-content;
}
.recipe-video .recipe-rank i {
  font-size: 17px;
}

/* About Food */
.about-food {
  direction: ltr;
  background-color: #faf6f4;
}
.about-food .about-food-head h2 {
  color: #310757;
}
.about-food .about-food-head .about-food-desc {
  margin: 1rem 2rem;
  direction: rtl;
  text-align: right;
  color: #310757;
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: 300;
}
.about-food .about-food-head .about-food-desc span {
  font-weight: 500;
}
.about-food .card {
  direction: rtl;
  height: 100%;
  border-color: #d8d8d6;
}
.about-food .card h5 {
  font-size: 2rem;
  font-weight: 400;
  font-family: math;
  color: #333;
  text-align: center;
  font-family: "Coming Soon", cursive;
  font-family: "Delicious Handrawn", cursive;
}
.about-food .card .appointment-btn {
  width: 100%;
  text-align: center;
  background-color: #faf6f4;
}
.about-food .card .appointment-btn:hover {
  background-color: #1a8c1a !important;
}
.about-food .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
/* Recipes */
#recipes {
  background-image: url(../img/appoint-bg.webp);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.recipes .section-title h2 {
  color: #4ed24e;
}
.recipes .section-title p {
  color: #d9f7bc;
}
@media (max-width: 720px) {
  .recipes .section-title p {
    padding: 0 2rem !important;
  }
}
@media (max-width: 620px) {
  .recipes .section-title p {
    padding: 0 1rem !important;
  }
}
@media (max-width: 520px) {
  .recipes .section-title p {
    padding: 0 0rem !important;
  }
}
