/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
section#why-us {
  position: relative;
}
@media (max-width: 992px) {
  section#why-us {
    top: 0px;
  }
  .why-us .all-why-us {
    display: flex;
    flex-direction: column-reverse;
  }
}
.why-us .content {
  padding: 30px 30px 15px 30px;
  background: #310757;
  color: #fff;
}
.why-us .content h3 {
  font-family: 'Coming Soon', cursive;
  font-family: 'Delicious Handrawn', cursive;
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 5rem;
}
.why-us .content p {
  margin-bottom: 30px;
}
.why-us .content .more-btn {
  padding: 12px 35px;
  margin-top: 30px;
  background: #ffffff;
  color: #1a8c1a;
  border-radius: 2rem;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  display: inline-block;
  font-weight: 800;
}
.why-us .content .more-btn i {
  transition: all 0.3s ease-in-out;
}
.why-us .content .more-btn:hover {
  transition: all 0.3s ease-in-out;
  background: #116511;
  color: #fff;
}
.why-us .accordion-item {
  text-align: center;
  border-radius: 0.357rem;
  background: #edf3f8;
  padding: 0;
  width: 100%;
  transition: all 0.3s ease-in-out;
  border: 1px solid #dedede;
}
.accordion-header {
  transition: all 0.3s ease-in-out;
  position: relative;
}
.accordion-header::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: #1a8c1a;
  transition: all 0.3s ease-in-out;
}
.why-us .accordion-item:hover .accordion-header::before {
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.accordion-button:not(.collapsed) {
  color: #1a8c1a;
}
.why-us .accordion-item i {
  font-size: 25px;
  color: #1a8c1a;
  margin-left: 10px;
}
.why-us .accordion-item h2 button {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.why-us .accordion-button::after {
  display: none;
}
.why-us .accordion-button:focus {
  box-shadow: none;
}
.why-us button.accordion-button.collapsed {
  background-color: #d9f7bc;
}
.why-us .accordion-item .accordion-body {
  font-size: 15px;
  color: #848484;
  background-color: #f8fbff;
}
.why-us .welcome-support {
  background-color: #faf6f3;
  border-radius: 0.375rem;
  padding: 0;
}
.why-us .welcome-support .welcontent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 30px 5px 20px;
}
.why-us .welcome-support .welcontent h3 {
  font-size: 2rem;
  font-weight: 800;
  font-family: serif;
  color: #333;
  margin-bottom: 0;
}
.why-us .welcome-support .welcontent h2 {
  font-size: 8rem;
  color: #d3072a;
  font-family: "Coming Soon", cursive;
  font-family: "Delicious Handrawn", cursive;
  margin-bottom: 0;
}
